{% load roommate_search %}
{% comment %}
You can use this template by including it within a div with our pagination class
like so:

<div class="pagination">
    <ul>
    {% include "pagination.html" %}
    </ul>
</div>
{% endcomment %}

{% if page_obj.has_previous %}
    {% ifnotequal page_obj.previous_page_number page_obj.paginator.page_range|first %}
        <li><a href="{{ page_obj|paginator_query_string:"first" }}">&laquo; First</a></li>
    {% endifnotequal %}
    <li><a href="{{ page_obj|paginator_query_string:"previous" }}">&lsaquo; Previous</a></li>
{% endif %}

<li>
    <strong>{{ page_obj.start_index }} &#8211; {{ page_obj.end_index }}</strong> of
    <strong>{{ page_obj.paginator.count }}</strong>
</li>

{% if page_obj.has_next %}
    <li><a href="{{ page_obj|paginator_query_string:"next" }}">Next &rsaquo;</a></li>
    {% ifnotequal page_obj.next_page_number page_obj.paginator.page_range|last %}
        <li><a href="{{ page_obj|paginator_query_string:"last" }}">Last &raquo;</a></li>
    {% endifnotequal %}
{% endif %}
