{% extends "roommate_search/base.html" %}
{% load i18n %}
{% load roommate_search %}


{% block content %}
<h1>{% trans "View Message" %}</h1>
<dl class="message-headers">
    <dt>{% trans "Subject" %}</dt>
    <dd><strong>{{ message.subject }}</strong></dd>

    <dt>{% trans "Sender" %}</dt>
    <dd>{{ message.sender|screen_name }}</dd>

    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>

    <dt>{% trans "Recipient" %}</dt>
    <dd>{{ message.recipient|screen_name }}</dd>

    <dt>{% trans "Body" %}</dt>
    <dd>{{ message.body|linebreaksbr }}</dd>

    <dt>Actions</dt>
    {% ifequal message.recipient.pk user.pk %}
        <dd><a href="{{ message.sender|public_profile_url }}">View profile</a></dd>
        <dd><a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a></dd>
    {% endifequal %}
    <dd><a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a></dd>
</dl>
{% endblock %}


