.pagination {
    margin: 0 auto;
    position: relative;
    width: 75%;
}
.pagination ol, .pagination ul {
    margin-bottom: 1em;
}
.pagination ol li, .pagination ul li {
    display: inline;
    margin: 0 0 0 1em;
}
.pagination ol li:first-child, .pagination ul li:first-child {
    margin: 0;
}
.pagination ol li.selected, .pagination ul li.selected {
    font-weight: bold;
}
