{% extends "with_navigation.html" %}
{% load i18n %}
{% load inbox %}


{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}roommate-search/css/base.css" type="text/css" />
{% endblock %}


{% block content %}
<h1>Roommate Search</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}


{% block navigation %}
<ul>
    <li><a href="{% url "roommate_search_index" %}">Roommate Search</a></li>
    <li><a href="{% url "roommate_search_profile" %}">Profile</a></li>
    <li><a href="{% url "roommate_search_search" %}">Search</a></li>
    <li><a href="{% url "messages_inbox" %}">Messages</a></li>
    <ul>
        <li><a href="{% url "messages_inbox" %} ">&raquo;&nbsp;{% trans "Inbox" %} ({% inbox_count %})</a></li>
        <li><a href="{% url "messages_outbox" %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
        <li><a href="{% url "messages_compose" %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
        <li><a href="{% url "messages_trash" %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
    </ul>
</ul>
{% endblock %}

