{% extends "roommate_search/base.html" %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}roommate-search/js/stars.js"></script>
{% endblock %}


{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}roommate-search/css/stars.css" type="text/css" />
{% endblock %}


{% block content %}
{{ block.super }}
<h2>Profile</h2>

<dl class="table">
    <dt>Screen name:</dt>
    <dd>
        {% if profile.user != user %}
            {% include "roommate_search/stars.html" %}
        {% endif %}
        {{ profile.screen_name }}
    </dd>

    <dt>Bio:</dt>
    <dd>{{ profile.bio }}</dd>

    {% if profile.user == user %}
        <dt>Status:</dt>
        <dd>{{ profile.status }}</dd>

        <dt>Actions</dt>
        <dd><a href="{% url "roommate_search_edit_profile" %}">Edit profile</a></dd>
        {% if profile.status == "looking" %}
            <dd><a href="{% url "roommate_search_search" %}">Search for roommate</a></dd>
        {% endif %}
    {% else %}
        <dt>Actions</dt>
        <dd><a href="{% url "messages_compose_to" profile.screen_name %}">
            <img src="{{ STATIC_URL }}roommate-search/img/email-edit.png" />
            Send message</a>
        </dd>
    {% endif %}
</dl>
{% endblock %}
