{% extends "roommate_search/base.html" %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}roommate-search/js/stars.js"></script>
{% endblock %}


{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}roommate-search/css/stars.css" type="text/css" />
{% endblock %}


{% block content %}
{{ block.super }}
<h2>Search</h2>

<form action="" method="get">
    {{ search_form }}
    <input type="submit" value="Search" />
</form>

<form action="" method="get">
    {{ filter_form }}
    <input type="submit" value="Filter" />
</form>

<h2>Results</h2>

<div class="pagination">
    <ol>
        {% include "pagination.html" %}
    </ol>
</div>

<dl id="roommate-search-profile-list">
{% for profile in profile_list %}
    <dt>
        {% include "roommate_search/stars.html" %}
        <a href="{% url roommate_search_public_profile profile.id %}">{{ profile.screen_name }}</a>
    </dt>
    <dd>{{ profile.bio|truncatewords:50 }}</dd>
    <dd><a href="{% url messages_compose_to profile.screen_name %}">
        <img src="{{ STATIC_URL }}roommate-search/img/email-edit.png" />
        Send message</a>
    </dd>
{% endfor %}
</dl>

<div class="pagination">
    <ol>
        {% include "pagination.html" %}
    </ol>
</div>

{% endblock %}
