{% extends "roommate_search/base.html" %}


{% block content %}
{{ block.super }}
<h2>Search</h2>

<form action="" method="get">
    {{ search_form }}
    <input type="submit" value="Search" />
</form>

<form action="" method="get">
    {{ filter_form }}
    <input type="submit" value="Filter" />
</form>

<h2>Results</h2>

<dl>
{% for p in profile_list %}
    <dt><a href="{% url roommate_search_public_profile p.id %}">{{ p.screen_name }}</a></dt>
    <dd>{{ p.bio }}</dd>
{% endfor %}
</dl>

{% endblock %}
